@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

:root {
  --clr-sky: #3199dc;
  --clr-dark: #222;
  --clr-light: #f8f9fa;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  scrollbar-color: var(--clr-sky)  var(--clr-dark);
  scrollbar-width: thin;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-sky);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  height: 10px;
  background-color: var(--clr-dark);
}

body {
  font-family: 'Marvel', sans-serif;
  line-height: 1.7;
  background-color: var(--clr-dark);
}

img {
  max-width: 100%;
}

:global(.img-contain) {
  display: block;
  object-fit: contain;
  object-position: center;
}

:global(.img-cover) {
  display: block;
  object-fit: cover;
  object-position: center;
}

:global(.btn) {
  border: none;
  outline: none;
  cursor: pointer;
}