.characters__container {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  backdrop-filter: blur(1rem);
}

.characters__list {
  width: min(900px, 80%);
  max-height: 90vh;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: clamp(1rem, 5vw, 2rem);
  margin: 0;

  background-color: var(--clr-light);
  list-style: none;
}

.characters__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: var(--box-shadow);
  border: 5px solid #fff;
}

.characters__img {
  width: 100%;
}

.characters__name {
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.characters__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-image: url('./img/close-white.svg');
}